
.head {
    display: inline;
}


#logo {
    position: top left;
    height: 8%;
    width: 8%;
    display: inline-block;
}
.text {
    color: black;
    margin-left: 30%;
    margin-right: 20%;
    text-align: center;
    font-size: 2em;
    
}
.comp {
    left: 100px;
    display: inline-block;
    font-size: 1.5em;
    color: rgb(73, 5, 73);
    margin: 0 0 0 0;
}


.nav {
    overflow: hidden;
    background-color: rgb(56, 56, 124);
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    color: purple;
    background-color: white;
}
.active {
    background-color: rgb(8, 8, 120);
}

.nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#cart {
    height: 17px;
    width: 17px;
    float: right;
}

#banner {
    width: 100%;
    height: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}
.card {
    height: 20%;
}
#shoe1 {
    display: inline-block;
}

#shoe2 {
    display: inline-block;
}

#shoe3 {
    display: inline-block;
}